<!DOCTYPE html>
<html lang="en">
<head>
  <title> Falcon Fitness Center </title>
  <meta charset="utf-8">
</head>
<body>
<div id="container">
<header>
  <a href="index.html"> <img src="images/FFCLogo.png" alt="Falcon Fitness Center Logo" height="277"
     width="390">
</header>
<nav>
  <a href="index.html">Home</a>&nbsp;&nbsp;
  <a href="about.html">About Us</a>&nbsp;&nbsp;
  <a href="classes.html">Classes</a>&nbsp;&nbsp:
  <a href="nutrition.html">Nutrition</a>&nbsp;&nbsp;
  <a href="contact.html">Contact Us</a>
</nav>
<main>

</main>
<footer>
  &copy; Copyright 202. All Rights Reserved. <br>
  <a
href="mailto:falconfitnesscenter515@gmail.com">falconfitnesscenter515@gmail.com</a>
</footer>
</div>
</body>
</html>
<table border="1">
    <caption> Personal Information</caption>
        <tr>
            <td> Class </td>
            <td> H </td>
            <td> Phone </td>
        </tr>
        <tr>
            <td> Jack </td>
            <td> 5/13 </td>
            <td> 857-555-5555</td>
        </tr>
        <tr>
            <td> Sparky </td>
            <td> 11/28 </td>
            <td> 303-777-7777</td>
        </tr>

</table>
 