<!DOCTYPE html>
<html lang="en">
<head>
  <title> Florida Hurricanes </title>
  <meta charset="utf-8">
  <link href="css/External style sheet FH.css" rel="stylesheet">
  	<style> h1 {background-color: black; color: blue;} </style>
</head>
<body>
<div id="container">
<header>
  <a href="IndexHurricanes.html"> <img src="Images/FHLogo.png" alt="Flordia Hurricanes Logo" height="277"
     width="390">
</header>
<nav>
  <a href="IndexHurricanes.html">Home</a>&nbsp;&nbsp;
  <a href="Andrew.html">Andrew</a>&nbsp;&nbsp;
  <a href="Ian.html">Ian</a>&nbsp;&nbsp;
  <a href="Irma.html">Irma</a>&nbsp;&nbsp;
  <a href="Maria.html">Maria</a>&nbsp;&nbsp;
  <a href="Michael.html">Michael</a>&nbsp;&nbsp;
</nav>
<main>
<h1><b>-Title-</b></h1>



</main>
<footer>
  &copy; Copyright 2022. All Rights Reserved. <br>
  <a
href="mailto:FloridaHurricanes@gmail.com">FloridaHurricanes@gmail.com</a>
  <a href="https://www.tiktok.com"> <img src="images/tiktok.png" alt="Tiktok" height="15" width="15">
    <a href="https://www.youtube.com"> <img src="images/youtube.png" alt="Youtube" height="15" width="15">
	  <a href="https://www.instagram.com"> <img src="images/instagram.jfif" alt="Instagram" height="15" width="15">
	    <a href="https://www.facebook.com"> <img src="images/facebook.png" alt="Facebook" height="15" width="15">
</footer>